@media (max-width: 800px) {
    .AboutPage {
        padding: 10px 0;

        p {
            text-align: justify;
            font-size: 1.1rem;
            font-weight: 600;
            color: var(--blue);
            font-family: 'Delius', cursive;

            &.aboutText {
                padding-bottom: 15px;
            }
        }

        .shareApp {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 1rem;
            border-top: 1px solid var(--blue);
            padding-top: 15px;

            .shareBtn {
                background: var(--slate-400);
                text-align: center;
                padding: 5px 10px;
                border-radius: 6px;
                color: var(--white);

                i {
                    font-size: 1.2rem;
                }

                p {
                    color: var(--white);
                }
            }
        }
    }
}