@media (max-width: 800px) {
    .CashPage {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 50px;

        .cashInput {
            padding: 0 10px;
            font-weight: bold;
            text-align: center;

            i {
                margin: 25px;
                color: var(--blue);
                font-size: 3rem;
            }

            p {
                font-family: 'Delius', cursive;
                font-size: 1.2rem;
                color: var(--blue);
            }
        }

        .cashOut {
            padding: 0 10px;
            font-weight: bold;
            text-align: center;

            i {
                margin: 25px;
                color: var(--red);
                font-size: 3rem;
            }

            p {
                font-family: 'Delius', cursive;
                font-size: 1.2rem;
                color: var(--red);
            }
        }

        .cashActive>i {
            font-size: 5rem;
        }

        .rotate {
            transform: rotate(180deg);
        }
    }

    .cashForm {
        display: flex;
        justify-content: space-evenly;
        margin-top: 40px;

        .cashInputSelect,
        .cashInputText,
        .cashInputButton,
        .cashOutSelect,
        .cashOutText,
        .cashOutButton {
            margin: 5px;
            padding: 5px;
            font-size: 1.1rem;
            font-weight: 600;
            border-radius: 5px;
            font-family: 'Delius', cursive;
            background-color: var(--white);
        }

        .cashInputText,
        .cashOutText {
            width: 30%;
            text-align: end;
        }

        .cashInputSelect {
            color: var(--blue);
            border: 2px solid var(--blue);
        }

        .cashInputText {
            border: 2px solid var(--blue);
        }

        .cashInputButton {
            width: 20%;
            color: var(--blue);
            border: 2px solid var(--blue);
        }

        .cashOutSelect {
            color: var(--red);
            border: 2px solid var(--red);
        }
    
        .cashOutText {
            color: var(--red);
            border: 2px solid var(--red);
        }
    
        .cashOutButton {
            width: 20%;
            color: var(--red);
            border: 2px solid var(--red);
        }
    }
}