@media (max-width: 800px) {
    .EditCardPage {
        margin-top: 10px;
        text-align: center;

        h2 {
            text-align: center;
            font-size: 1.4rem;
            color: var(--black-to-red);
            font-family: 'Dekko', cursive;
        }

        .card {
            padding: 15px 15px 25px 15px;
            border-radius: 30px;

            .heading {
                display: flex;
                justify-content: space-between;

                input {
                    width: 100%;
                    background: none;
                    font-size: 1.4rem;
                    font-weight: 600;
                    font-family: 'Amethysta', serif;
                }

                img {
                    width: 40%;
                }

            }

            .chip {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                margin: 30px 0 35px 0;

                img {
                    width: 15%;
                    border: 1px solid;
                    border-radius: 5px;
                }

                .balans {
                    margin-left: 10px;
                    font-size: 1.3rem;
                    font-weight: 600;
                    font-family: 'Advent Pro', sans-serif;

                    span {
                        font-family: 'Delius', cursive;
                    }
                }
            }
        }

        .code {
            display: flex;
            justify-content: space-between;

            .chipCode {
                font-size: 1.3rem;
                font-weight: bold;
                letter-spacing: 1px;
                font-family: 'Faustina', serif;
            }

            .nfcImg {
                margin-right: 15px;
                width: 9%;
            }
        }

        .editColors {
            margin: 10px 0;
            font-size: 1.1rem;
            font-weight: bold;
            color: var(--black-to-red);
            font-family: 'Noto Sans Syloti Nagri', sans-serif;

            .content {
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                gap: .4rem;
                margin-top: 10px;

                div {
                    width: 40px;
                    height: 40px;
                    border: 1px solid var(--black);
                }
            }
        }

        .btn {
            margin-top: 20px;
            color: var(--white-to-blue);
            background: var(--blue-to-white);
        }
    }
}