@keyframes ldio-yxb4p36adnb {
  0% {
    opacity: 1
  }

  100% {
    opacity: 0
  }
}

.ldio-yxb4p36adnb div {
  left: 111.39px;
  top: 82.95px;
  position: absolute;
  animation: ldio-yxb4p36adnb linear 1.0204081632653061s infinite;
  background: var(--blue);
  width: 14.22px;
  height: 9.48px;
  border-radius: 2.2752px / 2.2752px;
  transform-origin: 7.11px 35.550000000000004px;
}

.ldio-yxb4p36adnb div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.0071561091969257s;
  background: var(--blue);
}

.ldio-yxb4p36adnb div:nth-child(2) {
  transform: rotate(4.675324675324675deg);
  animation-delay: -0.993904055128545s;
  background: var(--blue);
}

.ldio-yxb4p36adnb div:nth-child(3) {
  transform: rotate(9.35064935064935deg);
  animation-delay: -0.9806520010601644s;
  background: var(--blue);
}

.ldio-yxb4p36adnb div:nth-child(4) {
  transform: rotate(14.025974025974026deg);
  animation-delay: -0.9673999469917838s;
  background: var(--blue);
}

.ldio-yxb4p36adnb div:nth-child(5) {
  transform: rotate(18.7012987012987deg);
  animation-delay: -0.9541478929234032s;
  background: var(--blue);
}

.ldio-yxb4p36adnb div:nth-child(6) {
  transform: rotate(23.376623376623378deg);
  animation-delay: -0.9408958388550226s;
  background: var(--blue);
}

.ldio-yxb4p36adnb div:nth-child(7) {
  transform: rotate(28.051948051948052deg);
  animation-delay: -0.927643784786642s;
  background: var(--blue);
}

.ldio-yxb4p36adnb div:nth-child(8) {
  transform: rotate(32.72727272727273deg);
  animation-delay: -0.9143917307182614s;
  background: var(--blue);
}

.ldio-yxb4p36adnb div:nth-child(9) {
  transform: rotate(37.4025974025974deg);
  animation-delay: -0.9011396766498808s;
  background: var(--blue);
}

.ldio-yxb4p36adnb div:nth-child(10) {
  transform: rotate(42.077922077922075deg);
  animation-delay: -0.8878876225815002s;
  background: var(--blue);
}

.ldio-yxb4p36adnb div:nth-child(11) {
  transform: rotate(46.753246753246756deg);
  animation-delay: -0.8746355685131196s;
  background: var(--blue);
}

.ldio-yxb4p36adnb div:nth-child(12) {
  transform: rotate(51.42857142857143deg);
  animation-delay: -0.861383514444739s;
  background: var(--blue);
}

.ldio-yxb4p36adnb div:nth-child(13) {
  transform: rotate(56.103896103896105deg);
  animation-delay: -0.8481314603763584s;
  background: var(--blue);
}

.ldio-yxb4p36adnb div:nth-child(14) {
  transform: rotate(60.77922077922078deg);
  animation-delay: -0.8348794063079779s;
  background: var(--blue);
}

.ldio-yxb4p36adnb div:nth-child(15) {
  transform: rotate(65.45454545454545deg);
  animation-delay: -0.8216273522395972s;
  background: var(--blue);
}

.ldio-yxb4p36adnb div:nth-child(16) {
  transform: rotate(70.12987012987013deg);
  animation-delay: -0.8083752981712166s;
  background: var(--blue);
}

.ldio-yxb4p36adnb div:nth-child(17) {
  transform: rotate(74.8051948051948deg);
  animation-delay: -0.795123244102836s;
  background: var(--blue);
}

.ldio-yxb4p36adnb div:nth-child(18) {
  transform: rotate(79.48051948051948deg);
  animation-delay: -0.7818711900344554s;
  background: var(--blue);
}

.ldio-yxb4p36adnb div:nth-child(19) {
  transform: rotate(84.15584415584415deg);
  animation-delay: -0.7686191359660748s;
  background: var(--blue);
}

.ldio-yxb4p36adnb div:nth-child(20) {
  transform: rotate(88.83116883116882deg);
  animation-delay: -0.7553670818976942s;
  background: var(--blue);
}

.ldio-yxb4p36adnb div:nth-child(21) {
  transform: rotate(93.50649350649351deg);
  animation-delay: -0.7421150278293136s;
  background: var(--blue);
}

.ldio-yxb4p36adnb div:nth-child(22) {
  transform: rotate(98.18181818181819deg);
  animation-delay: -0.728862973760933s;
  background: var(--blue);
}

.ldio-yxb4p36adnb div:nth-child(23) {
  transform: rotate(102.85714285714286deg);
  animation-delay: -0.7156109196925524s;
  background: var(--blue);
}

.ldio-yxb4p36adnb div:nth-child(24) {
  transform: rotate(107.53246753246754deg);
  animation-delay: -0.7023588656241718s;
  background: var(--blue);
}

.ldio-yxb4p36adnb div:nth-child(25) {
  transform: rotate(112.20779220779221deg);
  animation-delay: -0.6891068115557912s;
  background: var(--blue);
}

.ldio-yxb4p36adnb div:nth-child(26) {
  transform: rotate(116.88311688311688deg);
  animation-delay: -0.6758547574874106s;
  background: var(--blue);
}

.ldio-yxb4p36adnb div:nth-child(27) {
  transform: rotate(121.55844155844156deg);
  animation-delay: -0.66260270341903s;
  background: var(--blue);
}

.ldio-yxb4p36adnb div:nth-child(28) {
  transform: rotate(126.23376623376623deg);
  animation-delay: -0.6493506493506495s;
  background: var(--blue);
}

.ldio-yxb4p36adnb div:nth-child(29) {
  transform: rotate(130.9090909090909deg);
  animation-delay: -0.6360985952822688s;
  background: var(--blue);
}

.ldio-yxb4p36adnb div:nth-child(30) {
  transform: rotate(135.58441558441558deg);
  animation-delay: -0.6228465412138882s;
  background: var(--blue);
}

.ldio-yxb4p36adnb div:nth-child(31) {
  transform: rotate(140.25974025974025deg);
  animation-delay: -0.6095944871455076s;
  background: var(--blue);
}

.ldio-yxb4p36adnb div:nth-child(32) {
  transform: rotate(144.93506493506493deg);
  animation-delay: -0.596342433077127s;
  background: var(--blue);
}

.ldio-yxb4p36adnb div:nth-child(33) {
  transform: rotate(149.6103896103896deg);
  animation-delay: -0.5830903790087464s;
  background: var(--blue);
}

.ldio-yxb4p36adnb div:nth-child(34) {
  transform: rotate(154.28571428571428deg);
  animation-delay: -0.5698383249403658s;
  background: var(--blue);
}

.ldio-yxb4p36adnb div:nth-child(35) {
  transform: rotate(158.96103896103895deg);
  animation-delay: -0.5565862708719852s;
  background: var(--blue);
}

.ldio-yxb4p36adnb div:nth-child(36) {
  transform: rotate(163.63636363636363deg);
  animation-delay: -0.5433342168036046s;
  background: var(--blue);
}

.ldio-yxb4p36adnb div:nth-child(37) {
  transform: rotate(168.3116883116883deg);
  animation-delay: -0.530082162735224s;
  background: var(--blue);
}

.ldio-yxb4p36adnb div:nth-child(38) {
  transform: rotate(172.98701298701297deg);
  animation-delay: -0.5168301086668434s;
  background: var(--blue);
}

.ldio-yxb4p36adnb div:nth-child(39) {
  transform: rotate(177.66233766233765deg);
  animation-delay: -0.5035780545984628s;
  background: var(--blue);
}

.ldio-yxb4p36adnb div:nth-child(40) {
  transform: rotate(182.33766233766235deg);
  animation-delay: -0.4903260005300822s;
  background: var(--blue);
}

.ldio-yxb4p36adnb div:nth-child(41) {
  transform: rotate(187.01298701298703deg);
  animation-delay: -0.4770739464617016s;
  background: var(--blue);
}

.ldio-yxb4p36adnb div:nth-child(42) {
  transform: rotate(191.6883116883117deg);
  animation-delay: -0.463821892393321s;
  background: var(--blue);
}

.ldio-yxb4p36adnb div:nth-child(43) {
  transform: rotate(196.36363636363637deg);
  animation-delay: -0.4505698383249404s;
  background: var(--blue);
}

.ldio-yxb4p36adnb div:nth-child(44) {
  transform: rotate(201.03896103896105deg);
  animation-delay: -0.4373177842565598s;
  background: var(--blue);
}

.ldio-yxb4p36adnb div:nth-child(45) {
  transform: rotate(205.71428571428572deg);
  animation-delay: -0.4240657301881792s;
  background: var(--blue);
}

.ldio-yxb4p36adnb div:nth-child(46) {
  transform: rotate(210.3896103896104deg);
  animation-delay: -0.4108136761197986s;
  background: var(--blue);
}

.ldio-yxb4p36adnb div:nth-child(47) {
  transform: rotate(215.06493506493507deg);
  animation-delay: -0.397561622051418s;
  background: var(--blue);
}

.ldio-yxb4p36adnb div:nth-child(48) {
  transform: rotate(219.74025974025975deg);
  animation-delay: -0.3843095679830374s;
  background: var(--blue);
}

.ldio-yxb4p36adnb div:nth-child(49) {
  transform: rotate(224.41558441558442deg);
  animation-delay: -0.3710575139146568s;
  background: var(--blue);
}

.ldio-yxb4p36adnb div:nth-child(50) {
  transform: rotate(229.0909090909091deg);
  animation-delay: -0.3578054598462762s;
  background: var(--blue);
}

.ldio-yxb4p36adnb div:nth-child(51) {
  transform: rotate(233.76623376623377deg);
  animation-delay: -0.3445534057778956s;
  background: var(--blue);
}

.ldio-yxb4p36adnb div:nth-child(52) {
  transform: rotate(238.44155844155844deg);
  animation-delay: -0.331301351709515s;
  background: var(--blue);
}

.ldio-yxb4p36adnb div:nth-child(53) {
  transform: rotate(243.11688311688312deg);
  animation-delay: -0.3180492976411344s;
  background: var(--blue);
}

.ldio-yxb4p36adnb div:nth-child(54) {
  transform: rotate(247.7922077922078deg);
  animation-delay: -0.3047972435727538s;
  background: var(--blue);
}

.ldio-yxb4p36adnb div:nth-child(55) {
  transform: rotate(252.46753246753246deg);
  animation-delay: -0.2915451895043732s;
  background: var(--blue);
}

.ldio-yxb4p36adnb div:nth-child(56) {
  transform: rotate(257.14285714285717deg);
  animation-delay: -0.2782931354359926s;
  background: var(--blue);
}

.ldio-yxb4p36adnb div:nth-child(57) {
  transform: rotate(261.8181818181818deg);
  animation-delay: -0.265041081367612s;
  background: var(--blue);
}

.ldio-yxb4p36adnb div:nth-child(58) {
  transform: rotate(266.4935064935065deg);
  animation-delay: -0.2517890272992314s;
  background: var(--blue);
}

.ldio-yxb4p36adnb div:nth-child(59) {
  transform: rotate(271.16883116883116deg);
  animation-delay: -0.2385369732308508s;
  background: var(--blue);
}

.ldio-yxb4p36adnb div:nth-child(60) {
  transform: rotate(275.84415584415586deg);
  animation-delay: -0.2252849191624702s;
  background: var(--blue);
}

.ldio-yxb4p36adnb div:nth-child(61) {
  transform: rotate(280.5194805194805deg);
  animation-delay: -0.2120328650940896s;
  background: var(--blue);
}

.ldio-yxb4p36adnb div:nth-child(62) {
  transform: rotate(285.1948051948052deg);
  animation-delay: -0.198780811025709s;
  background: var(--blue);
}

.ldio-yxb4p36adnb div:nth-child(63) {
  transform: rotate(289.87012987012986deg);
  animation-delay: -0.1855287569573284s;
  background: var(--blue);
}

.ldio-yxb4p36adnb div:nth-child(64) {
  transform: rotate(294.54545454545456deg);
  animation-delay: -0.1722767028889478s;
  background: var(--blue);
}

.ldio-yxb4p36adnb div:nth-child(65) {
  transform: rotate(299.2207792207792deg);
  animation-delay: -0.1590246488205672s;
  background: var(--blue);
}

.ldio-yxb4p36adnb div:nth-child(66) {
  transform: rotate(303.8961038961039deg);
  animation-delay: -0.1457725947521866s;
  background: var(--blue);
}

.ldio-yxb4p36adnb div:nth-child(67) {
  transform: rotate(308.57142857142856deg);
  animation-delay: -0.132520540683806s;
  background: var(--blue);
}

.ldio-yxb4p36adnb div:nth-child(68) {
  transform: rotate(313.24675324675326deg);
  animation-delay: -0.1192684866154254s;
  background: var(--blue);
}

.ldio-yxb4p36adnb div:nth-child(69) {
  transform: rotate(317.9220779220779deg);
  animation-delay: -0.1060164325470448s;
  background: var(--blue);
}

.ldio-yxb4p36adnb div:nth-child(70) {
  transform: rotate(322.5974025974026deg);
  animation-delay: -0.0927643784786642s;
  background: var(--blue);
}

.ldio-yxb4p36adnb div:nth-child(71) {
  transform: rotate(327.27272727272725deg);
  animation-delay: -0.0795123244102836s;
  background: var(--blue);
}

.ldio-yxb4p36adnb div:nth-child(72) {
  transform: rotate(331.94805194805195deg);
  animation-delay: -0.066260270341903s;
  background: var(--blue);
}

.ldio-yxb4p36adnb div:nth-child(73) {
  transform: rotate(336.6233766233766deg);
  animation-delay: -0.0530082162735224s;
  background: var(--blue);
}

.ldio-yxb4p36adnb div:nth-child(74) {
  transform: rotate(341.2987012987013deg);
  animation-delay: -0.0397561622051418s;
  background: var(--blue);
}

.ldio-yxb4p36adnb div:nth-child(75) {
  transform: rotate(345.97402597402595deg);
  animation-delay: -0.0265041081367612s;
  background: var(--blue);
}

.ldio-yxb4p36adnb div:nth-child(76) {
  transform: rotate(350.64935064935065deg);
  animation-delay: -0.0132520540683806s;
  background: var(--blue);
}

.ldio-yxb4p36adnb div:nth-child(77) {
  transform: rotate(355.3246753246753deg);
  animation-delay: 0s;
  background: var(--blue);
}

.loadingio-spinner-spinner-xybg2k7cuu {
  width: 237px;
  height: 237px;
  display: inline-block;
  overflow: hidden;
  background: rgba(NaN, NaN, NaN, 0);
}

.ldio-yxb4p36adnb {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0;
  /* see note above */
}

.ldio-yxb4p36adnb div {
  box-sizing: content-box;
}

.Loading {
  margin-top: -35px;
  text-align: center;
}

.loading_sms {
  margin-top: -20px;
  font-size: 1.4rem;
  font-weight: bold;
  color: var(--blue);
  font-family: 'Noto Sans Syloti Nagri', sans-serif;
}